@import "../../styles/variables.scss";

.player-header {
  border-bottom: 1px solid $sub-border-color;
  width: 100%;
  background-color: $sub-bg-color;

  .player-info-summary {
    display: flex;
    width: 100%;
    padding: 16px 0;

    .player-profile-icon {
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      width: 120px;
      height: 120px;
      border: 2px solid $main-fg-color;
      box-sizing: border-box;

      .player-level {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 13px;
        // font-weight: bold;
        bottom: 0;
        padding: 7px 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }

    .player-profile-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 5px 0;
      margin-left: 20px;
      flex: 1;

      .player-name {
        display: flex;
        font-size: 28px;
        font-weight: bold;
        align-items: flex-end;

        .tag {
          margin-left: 6px;
          color: rgba(255, 255, 255, 0.25);
          // font-weight: normal;
          font-size: 22px;
          margin-top: -5px;
        }

        .favorite-icon {
          display: flex;
          align-items: center;
          height: 15px;
          border-radius: 3px;
          align-self: center;
          margin-left: 10px;
          padding: 5px 5px;
          background-color: rgba(255, 255, 255, 0.083);
          cursor: pointer;

          // &:hover {
          //   background-color: rgb(91, 81, 63);
          // }

          &.enabled {
            background-color: rgb(91, 81, 63);
            color: rgb(255, 199, 31);
          }
        }
      }

      .last-renewed-time {
        font-size: 12px;
        color: rgb(215, 201, 165);
        margin-top: 8px;
      }

      #renew_btn {
        font-size: 14px;
        margin-top: 10px;
        padding: 10px 0;
        background-color: rgb(162, 128, 49);
        color: rgb(255, 255, 255);
        border: none;
        width: 140px;
        cursor: pointer;

        &:disabled {
          background-color: rgb(59, 51, 32);
          color: rgba(255, 255, 255, 0.5);
          cursor: not-allowed;
        }
      }
    }
  }
}
