#hide {
  position: absolute;
  opacity: 0;
  z-index: -100;
  white-space: pre;
}

.name-tag-search-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: text;

  &.unempty {
    .placeholder {
      display: none;
    }

    .tag-padding {
      display: block;
    }
  }

  &.compact {
    .result {
      .profile-img {
        width: 24px !important;
        height: 24px !important;
      }
      .summoner-name {
        margin-left: 8px !important;

        .name {
          font-size: 13px !important;
        }

        .prev-name {
          margin-top: 3px !important;
          font-size: 11px !important;
        }
      }
      .metadata {
        display: none;
      }
    }
  }

  .placeholder {
    position: absolute;
    color: rgb(67, 67, 67);
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  .tag-padding {
    display: none;
    position: absolute;
    left: 0;
    color: rgba(255, 255, 255, 0.3);
    margin-left: 5px;
    pointer-events: none;
  }

  input {
    border: none;
    color: white;
    padding: 0 !important;
    min-width: 1px;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
  }

  .quick-search-results {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    color: rgb(160, 154, 135);
    border: 1px solid rgb(102, 98, 93);
    box-sizing: border-box;
    box-shadow: 0 10px 15px 1px rgb(0, 0, 0);
    border-radius: 3px;
    backdrop-filter: blur(10px);
    margin-top: 10px;
    overflow: hidden;

    &.focused {
      display: flex;
    }

    &.inactive {
      display: none !important;
    }

    .result {
      display: flex;
      align-items: center;
      padding: 8px 12px;
      box-sizing: border-box;
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }

      &:hover,
      &.selected {
        background-color: rgba(90, 81, 58, 0.6);
      }

      .profile-img {
        width: 36px;
        height: 36px;
        border-radius: 3px;
        overflow: hidden;
      }

      .summoner-name {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 15px;
        justify-content: center;
        overflow: hidden;

        .name {
          display: flex;
          align-items: center;
          color: rgb(194, 181, 152);
          font-weight: bold;
          overflow: hidden;
          white-space: nowrap;

          .game-name {
            white-space: nowrap;
          }

          .tag {
            margin-left: 3px;
            white-space: nowrap;
          }
        }

        .prev-name {
          font-size: 12px;
          margin-top: 5px;
          color: rgb(151, 144, 128);
        }
      }

      .metadata {
        margin-left: 15px;
        .summoner-level {
          font-size: 13px;
        }
      }
    }
  }
}
