@import "../../../styles/variables.scss";

.team {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;

    .rating,
    .avg-tier {
      display: flex;
      align-items: center;
      color: $main-fg-color;
      font-size: 12px;
      margin-left: 15px;

      & > .label {
        font-weight: normal;
        filter: brightness(0.6);
      }
      & > .value {
        margin-left: 8px;
        font-weight: normal;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 200px;
    padding: 0 !important;

    .placeholder {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(108, 99, 74);
    }
  }

  .summoners {
    display: flex;
    flex-direction: column;

    .summoner {
      display: flex;
      height: 40px;
      align-items: center;
      padding: 8px 15px;
      font-size: 13px;
      position: relative;
      $tier-rank-width: 120px;
      padding-right: calc(20px + #{$tier-rank-width});
      position: relative;

      &:not(:last-child) {
        border-bottom: 1px solid rgb(62, 59, 49);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }

      .summoner-custom-tier-ranks {
        padding: 5px;
      }

      .droppable-zone {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        font-size: 16px;

        & > * {
          pointer-events: none;
        }

        .hover-placeholder {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
        }
      }

      .position {
        width: 20px;
        height: 20px;
        margin-right: 15px;
      }

      .profile-icon,
      .champion-icon {
        width: 36px;
        height: 36px;
        border-radius: 3px;
        overflow: hidden;
        pointer-events: none;
      }

      .name {
        display: flex;
        margin-left: 15px;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        // width: 160px;
        flex: 1;

        .name-bundle {
          display: flex;
          align-items: center;

          &:hover {
            filter: brightness(1.3);
            cursor: pointer;
          }

          .game-name {
            // font-weight: bold;
            color: rgb(255, 235, 196);
          }

          .tag {
            margin-left: 5px;
            opacity: 0.5;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      .tier-ranks {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        width: 130px;

        .tier-rank-item {
          display: flex;
          //   width: 50%;
          justify-content: center;

          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }

      .rating {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        font-size: 12px;
      }

      .available-lines {
        display: flex;
        align-items: center;
        // width: 170px;
        justify-content: center;
        margin: 0 20px;
        margin-left: 30px;

        .line {
          display: flex;
          align-items: center;
          color: rgb(70, 66, 54);
          font-size: 13px;
          width: 20px;
          height: 20px;
          padding: 0 2px;

          &:not(:last-child) {
            margin-right: 5px;
          }

          &.check {
            color: rgb(229, 203, 139);
          }
        }
      }

      .most-champions {
        display: flex;
        align-items: center;
        margin-left: 15px;
        justify-content: space-between;

        .most-champion {
          display: flex;
          position: relative;
          background-color: black;

          &:not(:last-child) {
            margin-right: 5px;
          }

          .img img {
            transform: scale(1.1);
            opacity: 0.7;
          }

          .score {
            display: flex;
            justify-content: center;
            position: absolute;
            padding: 2px 0;
            text-align: center;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            font-size: 9px;
            color: rgba(255, 235, 196, 0.8);
          }
        }
      }

      .representative-tier-rank {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 12%;
        $tier-blank-rate: 20%;
        $tier-blank-angle: 115deg;
        background: linear-gradient($tier-blank-angle, transparent $tier-blank-rate, rgba(238, 238, 238, 0.2));
        padding: 0 12px;
        color: white;
        z-index: 0;

        .rank-type {
          font-size: 11px;
          color: rgba(255, 255, 255, 0.4);
          // font-weight: bold;
          margin-bottom: 3px;
        }

        .tier.unranked {
          color: rgb(114, 114, 114);
        }

        &.iron {
          background: linear-gradient($tier-blank-angle, transparent $tier-blank-rate, rgb(69, 69, 69)) !important;
          color: rgb(189, 189, 189);
        }

        &.bronze {
          background: linear-gradient($tier-blank-angle, transparent $tier-blank-rate, rgb(108, 78, 56)) !important;
          color: rgb(189, 189, 189);
        }

        &.silver {
          background: linear-gradient($tier-blank-angle, transparent $tier-blank-rate, rgb(97, 97, 97)) !important;
          color: rgb(221, 221, 221);
        }

        &.gold {
          background: linear-gradient($tier-blank-angle, transparent $tier-blank-rate, rgb(165, 126, 54)) !important;
          color: rgb(221, 221, 221);
        }

        &.platinum {
          background: linear-gradient($tier-blank-angle, transparent $tier-blank-rate, rgb(38, 115, 114)) !important;
          color: rgb(221, 221, 221);
        }

        &.emerald {
          background: linear-gradient($tier-blank-angle, transparent $tier-blank-rate, rgb(42, 136, 95)) !important;
          color: rgb(221, 221, 221);
        }

        &.diamond {
          background: linear-gradient(
            $tier-blank-angle,
            transparent $tier-blank-rate,
            rgb(55, 68, 115) 70%,
            rgb(147, 107, 196)
          ) !important;
          color: rgb(233, 233, 233);
        }

        &.master {
          background: linear-gradient(
            $tier-blank-angle,
            transparent $tier-blank-rate,
            rgb(136, 56, 104) 70%,
            rgb(152, 106, 178)
          ) !important;
          color: rgb(255, 255, 255);
        }

        &.grandmaster {
          background: linear-gradient(
            $tier-blank-angle,
            transparent $tier-blank-rate,
            rgb(81, 46, 46),
            rgb(176, 52, 52),
            rgb(193, 131, 131) 95%,
            rgb(255, 202, 202)
          ) !important;
          color: rgb(255, 255, 255);
        }

        &.challenger {
          background: linear-gradient(
            $tier-blank-angle,
            transparent $tier-blank-rate,
            rgb(53, 66, 79),
            rgb(83, 122, 166),
            rgb(199, 180, 98) 95%,
            rgb(255, 235, 196)
          ) !important;
          color: rgb(255, 255, 255);
        }
      }
    }

    .empty-placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.3;
    }
  }
}
