@import "../../../styles/variables.scss";

.content-wrapper {
  display: flex;
  width: 100%;
  padding: 20px 0;
  align-items: flex-start;
  padding-bottom: 100px;
}

@media screen and (max-width: 1250px) {
  .content-wrapper {
    flex-direction: column;

    .rank-summary {
      width: 100%;
    }

    .match-info {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }
  }

  .left-section {
    width: 100% !important;
  }

  .rank-summary {
    width: 100%;
    flex-direction: row !important;

    .rank {
      flex: 1;
      min-width: 250px;
    }
    .rank:not(:first-child) {
      margin-top: 0 !important;
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 900px) {
  .content-wrapper {
    flex-direction: column;

    .match-summary .body {
      overflow-x: overlay;
    }
  }
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 300px;

  & > *:not(:first-child) {
    margin-top: 10px;
  }

  .rank-summary {
    display: flex;
    flex-direction: column;
    overflow-x: overlay;

    .rank {
      display: flex;
      flex-direction: column;

      &:not(:first-child) {
        margin-top: 10px;
      }

      .rank-body {
        display: flex;
        padding: 10px 15px;

        .rank-icon {
          width: 60px;
          height: 60px;
          background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, transparent 70%) !important;
          border-radius: 5px;

          &.null {
            background: rgba(0, 0, 0, 0.3) !important;
          }
        }

        .rank-info {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          flex: 1;
          justify-content: center;

          .rank-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:not(:first-child) {
              margin-top: 8px;
            }
          }

          .rank-tier {
            font-size: 20px;
            font-weight: bold;
            color: rgb(255, 255, 255);
          }

          .rank-lp {
            font-size: 12px;
            color: rgb(215, 201, 165);
          }

          .rank-win-lose {
            font-size: 12px;
            color: rgb(215, 201, 165);
          }

          .rank-win-rate {
            font-size: 12px;
            color: rgb(215, 201, 165);
          }
        }
      }

      &.flex-rank {
      }
    }
  }

  .recent-players {
    display: flex;
    flex-direction: column;

    .body {
      display: flex;
      flex-direction: column;
      padding: 10px 15px;
      color: rgb(148, 145, 136);
      font-size: 13px;

      .row {
        display: flex;
        align-items: center;
        height: 30px;

        &:not(:first-child) {
          // margin-top: 8px;
        }

        & > * {
          text-align: center;
        }

        .player-icon {
          margin-right: 10px;
          width: 20px;
          height: 20px;
          border-radius: 3px;
          overflow: hidden;
        }

        .player-name {
          display: flex;
          align-items: center;
          flex: 1;
          text-align: left;
          color: rgb(211, 202, 179);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:hover {
            filter: brightness(1.2);
            cursor: pointer;
          }

          .game-name {
          }

          .game-tag {
            margin-left: 5px;
            color: rgba(211, 202, 179, 0.3);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .player-game-count {
          width: 40px;
        }
        .player-win-lose {
          width: 70px;
        }
        .player-win-rate {
          width: 40px;
        }
      }

      .list-header {
        color: rgb(215, 201, 165);
        margin-bottom: 10px;
      }

      .player {
        &:not(:last-child) {
          border-bottom: 1px solid rgb(69, 63, 49);
          padding: 4px 0;
        }
      }
    }
  }
}

.match-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  margin-left: 15px;

  .match-summary {
    display: flex;
    // height: 150px;
    // align-items: center;

    & > .header {
      display: flex;

      .menu {
        display: flex;
        width: 100%;

        .menu-item {
          display: flex;
          align-items: center;
          padding: 8px 10px;
          font-size: 13px;
          font-weight: bold;
          color: rgb(215, 201, 165);
          border-radius: 3px;
          cursor: pointer;

          &:hover {
            color: rgb(255, 255, 255);
          }

          &:not(:first-child) {
            margin-left: 6px;
          }

          &.selected {
            background-color: rgb(82, 74, 58);
            color: rgb(255, 255, 255);
          }
        }
      }
    }

    & > .body {
      display: flex;
      align-items: center;
      padding: 20px 20px;
      box-sizing: border-box;
      height: 150px;

      .win-rate-section {
        width: 100px;
        height: 100px;

        .label {
          display: flex;
          flex-direction: column;
          width: 100%;

          .win-count {
            text-align: center;
            font-size: 10px;
          }

          .win-rate {
            text-align: center;
            margin-top: 5px;
            color: rgb(124, 223, 178);
          }
        }
      }

      .kda-section {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: flex-start;
        margin-left: 20px;

        .kda {
          display: flex;
          align-items: center;
          font-size: 16px;

          .kda-segment {
            font-weight: bold;
            color: white;

            &.kill {
              color: rgb(124, 187, 255);
            }

            &.death {
              color: rgb(255, 69, 69);
            }
          }

          .kda-split {
            margin: 0 4px;
          }
        }

        .kda-rate {
          margin-top: 12px;
          font-size: 13px;
          // font-weight: bold;
          background-color: rgba(189, 147, 79, 0.5);
          color: rgb(219, 207, 186);
          padding: 5px 7px;
          border-radius: 3px;
        }

        .kill-assist-dealt-rate {
          display: flex;
          align-items: center;
          margin-top: 13px;
          font-size: 13px;

          .kill-assist {
            color: rgb(255, 90, 90);
          }

          .dealt-rate {
            color: rgb(198, 133, 72);
          }

          .split {
            margin: 0 5px;
          }
        }
      }

      .recent-champions-section {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        height: 100%;

        .header {
          font-size: 12px;
          margin-bottom: 10px;
          // font-weight: bold;
        }

        .body {
          display: flex;
          flex-direction: column;
          flex: 1;

          .champion {
            display: flex;
            align-items: center;
            font-size: 12px;
            color: rgb(117, 109, 96);

            &:not(:first-child) {
              margin-top: 8px;
            }

            .champion-icon {
              width: 23px;
              height: 23px;
              border-radius: 3px;
              overflow: hidden;

              img {
                transform: scale(1.2);
              }
            }

            .champion-game-count {
              margin-left: 10px;
              color: rgb(192, 180, 148);
            }

            .win-rate {
              width: 65px;
              margin-left: 10px;
            }

            .kda-rate {
              margin-left: 10px;
              background-color: rgb(63, 57, 45);
              padding: 3px 5px;
              border-radius: 3px;
              color: rgb(165, 156, 140);
            }
          }
        }
      }

      .favorite-positions {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        font-size: 12px;
        height: 100%;

        .header {
          font-size: 12px;
          margin-bottom: 10px;
          // font-weight: bold;
        }

        .body {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between;

          .position {
            display: flex;
            align-items: center;

            &.none {
              .position-count {
                opacity: 0.2;
              }
            }

            // &:not(:first-child) {
            //   margin-top: 4px;
            // }

            .position-icon {
              width: 18px;
              height: 18px;
            }

            .rate {
              display: flex;
              width: 100px;
              height: 10px;
              position: relative;
              background-color: rgb(21, 19, 16);

              .filler {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background-color: rgb(141, 125, 80);
              }
            }

            .position-name {
              width: 45px;
              margin-left: 8px;
            }

            .position-count {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .match-history {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    @media screen and (max-width: 900px) {
      .ingame-stat-section {
        display: none !important;
      }
    }

    .more-matches {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      height: 50px;
      color: $main-fg-color;
      cursor: pointer;

      &:hover {
        background-color: rgb(44, 38, 31);
      }
    }
  }
}
