@import "../../../styles/variables.scss";

$color-flag-width: 6px;

.match-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: $color-flag-width;
  overflow: hidden;
  border-radius: 3px;

  .color-flag {
    position: absolute;
    top: 0;
    left: 0;
    width: $color-flag-width;
    height: 100%;
    background-color: rgb(70, 70, 70);
    z-index: 3;

    &.win {
      background-color: rgb(41, 107, 164);
    }

    &.lose {
      background-color: rgb(194, 77, 77);
    }
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.match {
  display: flex;
  position: relative;
  background-color: rgb(27, 27, 27);
  color: rgb(140, 140, 140);
  // border-radius: 3px;
  padding-left: $color-flag-width;
  overflow: hidden;
  align-items: center;
  height: 110px;
  box-sizing: border-box;

  $vertical-pad: 12px;

  @media screen and (max-width: 470px) {
    height: 88px;

    .body {
      margin-left: 5px !important;

      .champion-icon {
        width: 36px !important;
        height: 36px !important;
      }

      .spell-section .spell-icon,
      .rune-section .rune-icon {
        width: 17px !important;
        height: 17px !important;
      }
    }

    .kda-section {
      width: 110px !important;
      .kda {
        font-size: 15px !important;
      }

      .kda-rate {
        font-size: 10px !important;
        margin-top: 5px !important;
        padding: 2px 5px !important;
      }
    }

    .match-duration {
      display: none;
    }

    .item-section {
      margin-top: 5px !important;

      .item {
        width: 22px !important;
        height: 22px !important;
      }
    }

    .header {
      width: 65px !important;
      .match-type {
        font-size: 16px !important;
      }
      font-size: 11px !important;
    }
  }

  &.win {
    background-color: rgb(26, 35, 43);
    color: rgb(132, 151, 168);

    .match-type {
      color: rgb(202, 223, 244) !important;
    }
    .color-flag {
      background-color: rgb(41, 107, 164);
    }
    .expand-btn {
      background-color: rgb(36, 68, 95);
      &:hover {
        background-color: rgb(45, 86, 120);
      }
    }
  }

  &.lose {
    background-color: rgb(43, 27, 27);
    color: rgb(170, 130, 130);
    .match-type {
      color: rgb(246, 206, 206) !important;
    }
    .color-flag {
      background-color: rgb(194, 77, 77);
    }
    .expand-btn {
      background-color: rgb(79, 37, 37);
      &:hover {
        background-color: rgb(95, 45, 45);
      }
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    width: 70px;
    height: 100%;
    padding: $vertical-pad 0;
    box-sizing: border-box;
    font-size: 12px;

    & > * {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & > .main {
      display: flex;
      flex-direction: column;
      flex: 1;

      .match-type {
        font-size: 17px;
        font-weight: bolder;
        color: rgb(226, 226, 226);
      }

      .match-win {
        margin-top: 8px;
        // font-size: 13px;
      }
    }

    & > .sub {
      display: flex;
      flex-direction: column;
      margin-top: 5px;

      .match-date {
      }

      .match-duration {
        margin-top: 8px;
      }
    }
  }

  .body {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    margin-left: 15px;
    // justify-content: space-between;

    .champion-item-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: $vertical-pad 0;
      box-sizing: border-box;
      flex: 1;

      .champion-section {
        display: flex;
        align-items: center;
        height: 50px;

        & > * {
          height: 100%;
        }

        .champion-icon {
          display: flex;
          width: 50px;
          height: 50px;
          border-radius: 3px;
          overflow: hidden;
          // border: 2px solid rgb(175, 160, 129);
          box-sizing: border-box;
          // zoom in

          img {
            transform: scale(1.2);
          }
        }

        .spell-section {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 8px;

          .spell-icon {
            width: 23px;
            height: 23px;
            border-radius: 3px;
            overflow: hidden;
          }
        }

        .rune-section {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 8px;

          .rune-icon {
            width: 23px;
            height: 23px;
            border-radius: 23px;
            overflow: hidden;
          }
        }

        .kda-section {
          display: flex;
          flex-direction: column;
          width: 130px;
          align-items: center;
          justify-content: center;
          // flex: 1;

          .kda {
            display: flex;
            align-items: center;
            font-size: 17px;

            .kda-segment {
              font-weight: bold;
              // color: white;

              &.kill {
                color: rgb(124, 187, 255);
              }

              &.death {
                color: rgb(255, 69, 69);
              }
            }

            .kda-split {
              margin: 0 4px;
            }
          }

          .kda-rate {
            margin-top: 8px;
            font-size: 12px;
            font-weight: bold;
            background-color: rgba(0, 0, 0, 0.2);
            padding: 4px 7px;
            border-radius: 3px;
          }
        }
      }

      .item-section {
        display: flex;
        margin-top: 10px;

        .item {
          display: flex;
          width: 30px;
          height: 30px;
          border-radius: 3px;
          overflow: hidden;
          // border: 1px solid rgb(73, 67, 54);

          &:not(:first-child) {
            margin-left: 4px;
          }
        }
      }
    }

    .ingame-stat-section {
      display: flex;
      flex-direction: column;
      width: 230px;
      margin-left: 10px;
      height: 100%;
      padding: $vertical-pad 0;
      box-sizing: border-box;
      justify-content: space-between;

      .ingame-stat-detail {
        display: flex;
        font-size: 14px;

        .subsection {
          display: flex;
          flex-direction: column;

          &:first-child {
            width: 80px;
          }

          &:not(:first-child) {
            margin-left: 5px;
          }
        }

        .split {
          height: 100%;
          width: 1px;
          background-color: rgba(255, 255, 255, 0.1);
          margin: 0 8px;
        }

        .kill-assists-rate {
          color: rgb(255, 90, 90);
          font-weight: bold;
        }

        .minion-kills {
          margin-top: 8px;
          font-size: 13px;
        }

        .gold {
          margin-top: 8px;
          font-size: 13px;
          color: rgb(176, 156, 72);
        }

        .dealt-rate {
          font-weight: bold;
          color: rgb(198, 133, 72);
        }

        .cc-time {
          font-size: 13px;
          margin-top: 8px;
        }

        .lane {
          display: flex;
          align-items: center;
          margin-top: 8px;
          font-size: 13px;
          // color: rgb(176, 171, 72);
          // font-weight: bold;

          .position-icon {
            width: 15px;
            height: 15px;

            img {
              background-color: transparent !important;
            }
          }

          .position {
            margin-left: 5px;
          }
        }
      }

      .representative-decorations {
        display: flex;

        .deco {
          display: flex;
          align-items: center;
          font-size: 14px;
          background-color: rgba(0, 0, 0, 0.5);
          padding: 4px 7px;
          border-radius: 3px;
          // font-weight: bold;

          &:not(:first-child) {
            margin-left: 8px;
          }

          &.penta {
            background: linear-gradient(
              135deg,
              rgb(255, 255, 255) 0%,
              rgb(31, 161, 221) 20%,
              rgb(206, 142, 255) 40%,
              rgb(31, 161, 221) 60%,
              rgb(206, 142, 255) 80%,
              rgb(255, 255, 255) 100%
            );
            color: white;
          }

          &.quadra {
            background: linear-gradient(135deg, rgb(206, 142, 255) 0%, rgb(131, 47, 195) 40%, rgb(164, 84, 225) 100%);
            color: white;
          }

          &.triple {
            background: linear-gradient(135deg, rgb(46, 74, 108) 0%, rgb(23, 83, 157) 100%);
            color: white;
          }

          &.double {
            background: rgb(110, 49, 49);
            color: white;
          }
        }
      }
    }

    .ingame-summoners-section {
      display: flex;
      margin-right: 15px;
      height: 100%;
      // padding: 10px 0;
      box-sizing: border-box;

      @media screen and (max-width: 700px) {
        .team:not(.my-team) {
          display: none;
        }
      }

      @media screen and (max-width: 575px) {
        .team {
          display: none !important;
        }
      }

      .team {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        overflow: hidden;

        &:not(:first-child) {
          margin-left: 10px;
        }

        .teammate {
          display: flex;
          align-items: center;
          width: 100%;

          &:not(:first-child) {
            margin-top: 3px;
          }

          &.me {
            .teammate-name {
              color: rgb(255, 255, 255) !important;
              // font-weight: bold;
            }

            .teammate-tag {
              color: rgb(255, 255, 255, 0.5) !important;
            }
          }

          .teammate-icon {
            display: flex;
            align-items: center;
            width: 18px;
            height: 18px;
          }

          .teammate-nametag {
            display: flex;
            margin-left: 6px;
            font-size: 12px;
            flex: 1;
            width: 85px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: -3px;
            cursor: pointer;
            align-items: center;
            padding-bottom: 2px;
            height: 100%;
            box-sizing: border-box;

            &:hover {
              color: $main-fg-color;

              .teammate-tag {
                color: rgba(255, 255, 255, 0.5);
              }
            }

            .teammate-tag {
              margin-left: 5px;
              // font-size: 11px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: rgba(255, 255, 255, 0.2);
            }
          }
        }
      }
    }
  }

  .expand-btn {
    display: flex;
    min-width: 32px;
    width: 32px;
    height: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.119);
    cursor: pointer;
    align-items: flex-end;

    .expand-icon {
      width: 100%;
      height: 30px;
      transform: scale(0.7);
      margin-bottom: 5px;
    }
  }
}

.match-detail {
  display: none;
  flex-direction: column;
  background-color: rgb(34, 34, 34);
  color: rgb(140, 140, 140);
  // padding: 5px 0;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  &.expanded {
    display: flex;
  }

  &.win {
    background-color: rgb(13, 22, 30);
    color: rgb(132, 151, 168);

    .menu-item {
      background-color: rgb(26, 35, 43);
      color: rgb(177, 211, 241);
    }
  }

  &.lose {
    background-color: rgb(33, 12, 12);
    color: rgb(170, 130, 130);

    .menu-item {
      background-color: rgb(43, 27, 27);
      color: rgb(238, 163, 163);
    }
  }

  .detail-menus {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;

    .menu-item {
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: center;
      padding: 5px 0;
      font-size: 13px;
      cursor: pointer;
      opacity: 0.4;

      &:hover,
      &.selected {
        opacity: 1;
      }

      &:not(:last-child) {
        // margin-right: 5px;
      }
    }
  }

  .detail-content {
    font-size: 13px;
    // min-width: 870px;
    width: 100%;
    overflow-x: overlay;

    & > * {
      min-width: 870px;
    }
  }
}
