@font-face {
  font-family: "rix";
  src: url("/fonts/RIXGOL.TTF") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "rix";
  src: url("/fonts/RIXGOM.TTF") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "rix";
  src: url("/fonts/RIXGOB.TTF") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "rix";
  src: url("/fonts/RIXGOEB.TTF") format("truetype");
  font-weight: 700;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(1, 3, 14);

  font-family: "rix", sans-serif;
}

input {
  &:focus {
    outline: none;
  }
}
