@import "./variables.scss";

@font-face {
  font-family: "rix";
  src: url("/fonts/RIXGOL.TTF") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "rix";
  src: url("/fonts/RIXGOM.TTF") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "rix";
  src: url("/fonts/RIXGOB.TTF") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "rix";
  src: url("/fonts/RIXGOEB.TTF") format("truetype");
  font-weight: 900;
}

body {
  background: $main-bg-color;
  color: white;
  width: 100%;
  overflow-y: overlay;

  font-family: "rix", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; /* 크롬, 사파리 등 웹킷 기반 브라우저용 */
  -moz-osx-font-smoothing: grayscale; /* 파이어폭스용 */

  &::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(50, 44, 33);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(113, 103, 82);
    border-radius: 10px;
  }
}

input,
select,
button {
  background-color: transparent;
  border: 1px solid white;
  margin: 0;
  padding: 0;
  font-family: inherit;

  &:focus {
    outline: none;
  }
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: $sub-bg-color;
  border-radius: 3px;
  overflow: hidden;

  & > .header {
    padding: 10px 15px;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid rgb(91, 81, 63);
    color: rgb(215, 201, 165);
  }

  & > .body {
    padding: 10px 15px;
    // color: rgb(215, 201, 165);
    color: rgb(154, 144, 119);
  }
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: black;

  &-thumb {
    background-color: rgb(86, 78, 59);
    border-radius: 10px;
  }
}
