$main-content-width: 1200px;

// colors
$main-fg-color: rgb(205, 190, 145);
$main-bg-color: rgb(1, 3, 14);
$main-border-color: rgb(61, 61, 64);
$highlight-color: rgb(125, 106, 61);

$sub-border-color: rgb(62, 59, 49);
$sub-bg-color: rgb(33, 30, 27);
