@import "../styles/variables.scss";

.home-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 690px) {
  .summoner-searcher,
  .favorites {
    width: 100% !important;
  }
}

@media screen and (max-width: 550px) {
  .app-logo {
    width: 200px !important;

    .version {
      font-size: 11px !important;
      bottom: 10px !important;
    }
  }
}

@media screen and (max-width: 335px) {
  .app-logo {
    width: 130px !important;

    .version {
      display: none;
    }
  }
}

.app-logo {
  position: relative;
  margin-top: 200px;
  margin-bottom: 50px;
  width: 300px;

  .version {
    position: absolute;
    bottom: 15px;
    left: 100%;
    margin-left: 5px;
    color: $main-fg-color;
    font-weight: bold;
    font-size: 13px;
  }
}

.summoner-searcher {
  display: flex;
  width: 650px;
  height: 50px;
  align-items: center;
  background-color: rgb(76, 64, 35);
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 3px;

  .searcher-input {
    flex: 1;
    margin-left: 12px;
  }

  select,
  button {
    padding: 0 5px;
  }

  select,
  input,
  button {
    color: rgb(255, 255, 255);
    border: none !important;
  }

  .placeholder {
    color: rgba(255, 255, 255, 0.4) !important;
  }
}

.favorites {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 650px;

  & > .body {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 !important;
  }

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    opacity: 0.5;
    min-height: 80px;

    .placeholder {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  .favorite-summoners {
    display: flex;
    flex-direction: column;
    // margin-top: 5px;
    // padding: 10px 0;

    .summoner {
      display: flex;
      align-items: center;
      padding: 0 15px;
      font-size: 14px;
      color: rgb(221, 211, 182);
      height: 50px;
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(82, 74, 58, 0.441);
      }

      &:hover {
        background-color: rgb(41, 38, 30);
        // cursor: pointer;

        .summoner-name,
        .summoner-tag {
          color: rgb(255, 220, 115);
        }
      }

      .summoner-icon {
        width: 30px;
        height: 30px;
        border-radius: 3px;
        overflow: hidden;
        // border: 1px solid rgb(88, 77, 44);
      }

      .summoner-name {
        margin-left: 15px;
      }

      .summoner-tag {
        margin-left: 5px;
        flex: 1;
      }

      .favorite-icon {
        display: flex;
        align-items: center;
        height: 16px;
        padding: 4px;
        border-radius: 3px;
        background-color: rgb(74, 66, 52);
        color: rgb(255, 199, 31);
        cursor: pointer;

        &:hover {
          background-color: rgb(99, 89, 70);
          color: rgb(175, 160, 116);
        }
      }
    }
  }
}
