@import "../styles/variables.scss";

.statistics-header {
  color: rgb(195, 190, 169);
  padding: 20px 0;

  .content {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 24px;
      font-weight: 700;
    }

    .description {
      margin-top: 10px;
      font-size: 13px;
      color: rgb(129, 126, 113);
      white-space: pre-line;
    }
  }
}

.statistics-menu {
  color: rgb(195, 190, 169);
  padding: 5px 0;

  .menu {
    display: flex;
    justify-content: center;

    .menu-item {
      display: flex;
      justify-content: center;
      width: 80px;
      font-size: 14px;
      font-weight: bold;
      padding: 6px 0;
      border-radius: 3px;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 5px;
      }

      &:hover {
        background-color: rgb(53, 49, 41);
      }

      &.selected {
        background-color: rgb(84, 78, 65);
      }
    }
  }
}

.statistics-content {
  width: 100%;
  padding-bottom: 80px;

  .content {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    overflow-x: overlay;

    .title {
      font-weight: bold;
      font-size: 20px;
      color: rgb(205, 190, 145);
    }

    .description {
      font-size: 13px;
      color: rgb(129, 126, 119);
      margin-top: 10px;
      white-space: pre-line;
    }

    .updated-at {
      margin-top: 5px;
      font-size: 12px;
      color: rgb(129, 126, 113);
    }
  }
}
