.detail-content > .summary {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .team {
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      align-items: center;
    }

    .teammates {
      display: flex;
      flex-direction: column;
    }

    .row,
    .teammate {
      display: flex;
      align-items: center;
      font-size: 12px;
      padding: 6px 10px;
      box-sizing: border-box;

      &.header {
        font-size: 13px;
        padding: 8px 10px;
        background-color: rgba(0, 0, 0, 0.4);
      }

      &:not(.header):not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }

      &.me {
        background-color: rgba(255, 255, 255, 0.03);

        .name-tier-section .name {
          color: white !important;
        }
      }

      .champion-icon {
        width: 33px;
        height: 33px;
        overflow: hidden;
        border-radius: 3px;
        margin-right: 5px;
        position: relative;

        img {
          transform: scale(1.2);
        }

        .champion-level {
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: rgb(0, 0, 0);
          padding: 1px 2px;
          font-size: 10px;
          border-radius: 3px;
          color: white;
          opacity: 0.6;
        }
      }

      .team-name {
        flex: 1;
      }

      .spells,
      .runes {
        display: flex;
        flex-direction: column;
        margin-left: 3px;

        .icon {
          width: 15px;
          height: 15px;
          overflow: hidden;
          border-radius: 3px;

          img {
            // transform: scale(1.1);
          }

          &:not(:last-child) {
            margin-bottom: 3px;
          }
        }
      }

      .runes .icon {
        border-radius: 50%;

        img {
          transform: scale(0.9);
        }
      }

      .name-tier-section {
        display: flex;
        flex-direction: column;
        width: 120px;
        overflow: hidden;
        margin-left: 5px;
        align-items: flex-start;
        flex: 1;

        .name {
          display: flex;
          align-items: center;
          font-size: 13px;
          cursor: pointer;

          .game-name {
            filter: brightness(1.3);
          }

          .tag-line {
            margin-left: 3px;
            opacity: 0.5;
          }
        }

        .tier {
          margin-top: 5px;
          opacity: 0.7;
          // font-size: 11px;
        }
      }

      .gg-score {
        display: flex;
        width: 60px;
        align-items: center;
        justify-content: center;
        margin-left: 8px;

        .gg-score-box {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 35px;
          padding: 5px 0;
          border-radius: 3px;
          color: rgb(215, 215, 215);
          position: relative;

          .score {
            // color: rgb(255, 220, 154);
            font-size: 13px;
            font-weight: bold;
          }

          .ranking {
            font-size: 9px;
            color: rgb(179, 179, 179);
            background-color: rgb(53, 53, 53);
            padding: 2px 3px;
            position: absolute;
            bottom: calc(100% - 10px);
            left: calc(100% - 7px);
            border-radius: 2px;

            &.mvp {
              background-color: rgb(164, 129, 42);
              color: white;
            }

            &.ace {
              background-color: rgb(94, 64, 171);
              color: white;
            }
          }
        }
      }

      .kda-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70px;
        margin-left: 5px;

        .kda {
          display: flex;
          align-items: center;
        }

        .kda-score {
          display: flex;
          align-items: center;
          margin-top: 3px;
          font-size: 11px;
          background-color: rgb(0, 0, 0, 0.5);
          padding: 2px 5px;
          border-radius: 3px;
          color: rgb(151, 151, 151);
        }
      }

      .dealt {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        margin: 0 5px;

        .total-dealt,
        .total-heal {
          display: flex;
          flex-direction: column;
          flex: 1;
          align-items: center;

          .bar {
            display: flex;
            margin-top: 5px;
            height: 5px;
            width: 50px;
            background-color: rgb(35, 35, 35);

            .filler {
              height: 100%;
              // background-color: rgb(227, 181, 118);
            }
          }
        }

        .total-dealt .filler {
          background-color: rgb(212, 87, 87);
        }

        .total-heal {
          margin-left: 5px;

          .filler {
            background-color: rgb(99, 181, 99);
          }
        }
      }

      .cc {
        width: 60px;
        text-align: center;
        margin-left: 5px;
      }

      .ward {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50px;
        margin-left: 5px;

        .main {
          display: flex;
          align-items: center;

          .normal {
            color: rgb(184, 152, 71);
          }

          .score {
            margin-left: 3px;
          }
        }

        .rest {
          display: flex;
          align-items: center;
          margin-top: 3px;

          .control {
            color: rgb(255, 145, 207);
          }

          .split {
            margin: 0 2px;
          }

          .remove {
            color: rgb(255, 77, 77);
          }
        }
      }

      .cs {
        width: 60px;
        text-align: center;
        margin-left: 5px;
        font-size: 11px;
      }

      .items {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 3px;
        width: 180px;

        .item {
          width: 22px;
          height: 22px;
          border-radius: 3px;
          overflow: hidden;

          &:not(:last-child) {
            margin-right: 3px;
          }
        }
      }
    }
  }
}
