@import "../../styles/variables.scss";

.content-wrapper {
  display: flex;
  width: 100%;
  padding: 30px 0;
  align-items: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: $sub-bg-color;
  border-radius: 3px;
  overflow: hidden;
}

.rank-summary {
  display: flex;
  flex-direction: column;
  width: 340px;

  & > *:not(:first-child) {
    margin-top: 10px;
  }

  & > * > .header {
    padding: 10px 15px;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid rgb(82, 74, 58);
    color: rgb(215, 201, 165);
  }

  .rank {
    display: flex;
    flex-direction: column;

    .rank-body {
      display: flex;
      padding: 10px 15px;

      .rank-icon {
      }

      .rank-info {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        flex: 1;
        justify-content: center;

        .rank-row {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &:not(:first-child) {
            margin-top: 8px;
          }
        }

        .rank-tier {
          font-size: 20px;
          font-weight: bold;
          color: rgb(255, 255, 255);
        }

        .rank-lp {
          font-size: 12px;
          color: rgb(215, 201, 165);
        }

        .rank-win-lose {
          font-size: 12px;
          color: rgb(215, 201, 165);
        }

        .rank-win-rate {
          font-size: 12px;
          color: rgb(215, 201, 165);
        }
      }
    }

    &.flex-rank {
    }
  }

  .recent-players {
    display: flex;
    flex-direction: column;

    .body {
      display: flex;
      flex-direction: column;
      padding: 10px 15px;
      color: rgb(148, 145, 136);
      font-size: 12px;

      .row {
        display: flex;
        align-items: center;

        &:not(:first-child) {
          // margin-top: 8px;
        }

        & > * {
          text-align: center;
        }

        .player-icon {
          margin-right: 10px;
          width: 30px;
        }

        .player-name {
          flex: 1;
          text-align: left;
          color: rgb(211, 202, 179);
        }

        .player-game-count {
          width: 40px;
        }
        .player-win-lose {
          width: 70px;
        }
        .player-win-rate {
          width: 40px;
        }
      }

      .list-header {
        color: rgb(215, 201, 165);
        margin-bottom: 10px;
      }

      .player {
        &:not(:last-child) {
          border-bottom: 1px solid rgb(69, 63, 49);
          padding: 4px 0;
        }
      }
    }
  }
}

.match-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 15px;

  .match-summary {
    display: flex;

    .header {
      display: flex;

      .menu {
        display: flex;
        width: 100%;
        padding: 6px 12px;

        .menu-item {
          display: flex;
          align-items: center;
          padding: 8px 10px;
          font-size: 13px;
          font-weight: bold;
          color: rgb(215, 201, 165);
          border-radius: 3px;
          cursor: pointer;

          &:hover {
            color: rgb(255, 255, 255);
          }

          &:not(:first-child) {
            margin-left: 6px;
          }

          &.selected {
            background-color: rgb(82, 74, 58);
            color: rgb(255, 255, 255);
          }
        }
      }
    }
  }

  .match-history {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    $color-flag-width: 6px;

    .match {
      display: flex;
      position: relative;
      background-color: rgb(27, 27, 27);
      border-radius: 3px;
      padding-left: $color-flag-width;
      overflow: hidden;
      padding: 10px 0;
      align-items: center;

      &:not(:first-child) {
        margin-top: 10px;
      }

      &.win {
        background-color: rgb(26, 35, 43);
        .color-flag {
          background-color: rgb(41, 107, 164);
        }
      }

      &.lose {
        background-color: rgb(43, 27, 27);
        .color-flag {
          background-color: rgb(194, 77, 77);
        }
      }

      .color-flag {
        position: absolute;
        top: 0;
        left: 0;
        width: $color-flag-width;
        height: 100%;
        background-color: rgb(70, 70, 70);
      }

      .header {
        display: flex;
        flex-direction: column;
        margin-left: 18px;
        font-size: 13px;

        .match-win {
        }

        .match-type {
          margin-top: 5px;
        }

        .match-date {
          margin-top: 5px;
        }

        .match-duration {
          margin-top: 5px;
        }
      }

      .body {
        display: flex;
        flex: 1;

        .champion-item-section {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 20px;
          flex: 1;

          .champion-section {
            display: flex;
            align-items: center;
            height: 50px;

            & > * {
              height: 100%;
            }

            .champion-icon {
              display: flex;
              width: 50px;
              height: 50px;
              border-radius: 3px;
              overflow: hidden;
            }

            .spell-section {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin-left: 5px;

              .spell-icon {
                width: 23px;
                height: 23px;
                border-radius: 3px;
                overflow: hidden;
              }
            }

            .rune-section {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin-left: 5px;

              .rune-icon {
                width: 23px;
                height: 23px;
                border-radius: 23px;
                overflow: hidden;
              }
            }

            .kda-section {
              display: flex;
              flex-direction: column;
              margin-left: 15px;
              align-items: center;
              justify-content: center;

              .kda-rate {
                margin-top: 5px;
                font-size: 12px;
              }
            }
          }

          .item-section {
            display: flex;
            margin-top: 5px;

            .item {
              display: flex;
              width: 26px;
              height: 26px;
              border-radius: 3px;
              overflow: hidden;

              &:not(:first-child) {
                margin-left: 5px;
              }
            }
          }
        }

        .ingame-stat-section {
        }

        .ingame-summoners-section {
          display: flex;
          margin-right: 15px;

          .team {
            display: flex;
            flex-direction: column;

            &:not(:first-child) {
              margin-left: 10px;
            }

            .teammate {
              display: flex;
              align-items: center;

              &:not(:first-child) {
                margin-top: 2px;
              }

              .teammate-icon {
                display: flex;
                align-items: center;
              }

              .teammate-name {
                display: flex;
                align-items: center;
                margin-left: 5px;
                font-size: 12px;
                width: 80px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }

        .expand-btn {
          display: flex;
          height: 100%;
        }
      }
    }
  }
}
