.top-bar {
  display: flex;
  width: 100%;
  height: 24px;
  justify-content: space-between;
  background-color: rgb(29, 29, 29);
  position: relative;
  z-index: 100;
  overflow: hidden;

  .drag-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-app-region: drag;
  }

  .top-header {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 12px;
    color: rgb(180, 180, 180);

    .icon {
      width: 14px;
      height: 14px;
      border-radius: 2px;
      overflow: hidden;
    }

    .name {
      margin-left: 8px;
    }

    .version {
      margin-left: 5px;
      color: rgb(129, 126, 113);
    }
  }

  .window-control-section {
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    height: 100%;
    z-index: 101;
    -webkit-app-region: no-drag;

    .window-control-button {
      display: flex;
      width: 30px;
      justify-content: center;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &.maximize,
      &.restore {
        transform: rotate(180deg) scale(0.5);
        filter: brightness(1.5);
      }

      &.close {
        // background-color: rgb(178, 74, 74);
      }
    }
  }
}
